*{
  box-sizing: border-box;
}
body {
   padding-top: 76px;
 }
 .navbar-header{
   padding-bottom: 25px;
 }
 .nav{
   height: 100%;
 }
.navbar-brand{
  padding: 17px;
}
[class*=col-]{
  /*outline: 1px solid black;
  background-color: pink;*/
}
main .container{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  height: 30em;
}
.content{
  padding: 2em;
  background-color: #F7B617;
  border: none;
  outline: none;
  text-align:left;
  margin-top: 10em;
  color: white;
}
.content img{
  display: inline;
  width: 5em;
}
.content button{
  display: block;
  margin-top: 1em;
  font-weight: bolder;
  border: none;
}
.desktop{
  display: none;
}
.phone.row{
  background-color: #F7B617;
  color:white;
}
.marco_for_phone{
  padding-top: 2em;
  text-align: center;
  background-color: #F7B617;
  color:white;
}
.phone img{
width: 80%;
height: auto;
padding:2em;
border: 2px solid white;
margin-bottom: 1em;
}
.phone p{
  padding-bottom: 2em;
  font-weight: bolder;
}
.become-a-driver .container{
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 20em;
  color: white;
  text-align:left;
}
.become-a-driver div div div{
  background:rgba(0,0,0,0.4);
  height: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.become-a-driver h4{
  padding-top: 2.5em;
  font-weight: bolder;
}
.become-a-driver button{
  background-color:  #F7B617;
  font-weight: bolder;
}
.tarifas .row{
  color: white;
  background-color: #F7B617;
}
.tarifas .row section{
  background-color: #F7B617;
}
.ubicacion{
  display: block;
  padding-bottom: 1em;
}
.ubicacion input{
  background-color: #F7B617;
  border-radius: 5px;
  border: 2px solid white;
  color:#fff;
  padding: 0.2em;
}
input[type=text]:focus {
    background-color: #fff;
    color:black;
}
.tarifas .row section .boton{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}
.tarifas .row section .boton button{
  border: none;
}
.mapa{
  text-align: center;
  padding-bottom: 2em;
}
iframe {
 width: 100%;
 height: 20em;
}
footer .row{
  padding-top: 1em;
  background-color: #2B2B2B;
  color: white;
}
footer .apps img{
  padding-top: 1em;
  width: 12em;
  height: auto;
}
footer .apps span{
  color: white;
}
@media screen and (min-width: 750px) and (max-width:1500px) {
  .movile{
    display: none;
  }
  .desktop{
    display: block;
    text-align: left;
  }
  .desktop h3{
    padding: 0;
    margin: 0.2em;
    display: inline;
  }
  .checks{
    display: block;
  }
  .desktop .icon{
    display: inline;
  }
  .content img{
    display: inline;
    width: 6em;
    padding-bottom: 10px;
  }
  .desktop button{
    display: inline;
  }
  .palabra_hr{
    text-align: center;
  }
  .desktop h4{
    position: relative;
    /*outline: 1px solid black;*/
    display: inline;
    top: 1.7em;
    background-color: #F7B617;
    padding: 0.3em
  }
  .content{
    margin-top: 4em;
  }
}
