*{
  box-sizing: border-box;
}
body {
   padding-top: 76px;
 }
 .navbar-header{
   padding-bottom: 25px;
 }
 .nav{
   height: 100%;
 }
.navbar-brand{
  padding: 17px;
}
[class*=col-]{
  outline: 1px solid black;
  background-color: pink;
}
main .container{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  height: 30em;
}
.content{
  padding: 2em;
  background-color: #F7B617;
  border: none;
  outline: none;
  text-align:left;
  margin-top: 10em;
  color: white;
}
.content h1{
  display: inline;
}
.content img{
  display: inline;
  width: 5em;
}
.content button{
  display: block;
  margin-top: 1em;
  font-weight: bolder;
  border: none;
}
section.row{
  background-color: #F7B617;
  color:white;
}
.marco_for_phone{
  padding-top: 2em;
  text-align: center;
  background-color: #F7B617;
  color:white;
}
section img{
width: 80%;
height: auto;
padding-top: 2em;
padding-bottom: 2em;
}
section p{
  padding-bottom: 2em;
}
